body{
    text-align: center;
    background: #ffa500;
    color: #000000;
    }
    .button{
    font: bold 16px Arial;
    background-color: #EEEEEE;
    padding: 1px;
    border: 1px solid #CCCCCC;
    }